/* * {
  background-color: silver;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.car-info {
  font-size: 22px;
  color: aqua;
  border: 1px solid red;
};

.new-car {
  border: 1px solid black;
  margin-bottom: 20px;
} */